<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANNERS</title>
    <link rel="stylesheet" href="/admins/css/admin.css">
    <link rel="stylesheet" href="/admins/css/product.css">
<script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body>
    <div class="continer">
        <div class="layer1">
            
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>

        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/dashboard'">
<lord-icon
    src="https://cdn.lordicon.com/dqrpfjei.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>DASHBOARD</li>
                    <li onclick="window.location.href='/users'"><lord-icon
    src="https://cdn.lordicon.com/xfzuyvam.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>USERS</li>
                    <li onclick="window.location.href='/products'"><lord-icon
    src="https://cdn.lordicon.com/amlwgnug.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>PRODUCTS</li>
                    <li onclick="window.location.href='/catergory'"><lord-icon
    src="https://cdn.lordicon.com/kpvuihyi.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>CATEGORY</li>
                    <li onclick="window.location.href='/coupon'"><lord-icon
    src="https://cdn.lordicon.com/nlmjynuq.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>COUPONS</li>
                    <li onclick="window.location.href='/orders'"><lord-icon
    src="https://cdn.lordicon.com/guothkao.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>ORDERS</li>
                    <li onclick="window.location.href='/bannar'"><lord-icon
    src="https://cdn.lordicon.com/fxtblcmc.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>BANNERS</li>
<div class="logout">
    <button class="btn1">LOGOUT</button>
</div>
                </ul>
            </div>
            <div class="content_part">

                <div class="products_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Banners</p>
                    <button class="add_product_btn_admin"><a href="/admin/addBannar">Add Banner</a></button>
                </div>

                <div class="product_list">
                    <div class="product_table">
                        <table>

                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Bannar image</th>
                                    <th>Banner Name</th>                                     
                                    <th>Amount</th>
                                    <th>Starting Date</th>
                                    <th>Ending Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>                                                                                                                   
                                </tr>
                            </thead>
                            <tbody>

                        <% allbannars.forEach(( bannar,index) =>{ %>

                                <tr>
                                    <td> <%= index + 1  %>   </td>
                                    <td>
                                               <div class="img_product">
                                        
                                            <img src="/bannarImages/<%=bannar.Image%>" alt="" width="100px"
                                            srcset="" />
                                        </div> 
                                        </td>
                                    <td><%=  bannar.bannername %> </td>
                                    <td><%=  bannar.Amount  %> </td>                                                                               
                                    <td><%= bannar.startingDate %></td>
                                    <td><%= bannar. endingDate  %> </td>     
                                    
                                    <td>  
                                        <button    class="category_edit"> <a href="/admin/coupon/editcoupon">
                                                 <lord-icon
                                             src="https://cdn.lordicon.com/oqaajvyl.json"
                                             trigger="hover"
                                             style="width:50px;height:50px">
                                         </lord-icon >  </a></button>  </td>
                                    <td> 
                                        <button  class="category_edit" > <a href="/admin/bannar/delete/<%= bannar._id %>">
                                                     <lord-icon  
                                                 src="https://cdn.lordicon.com/vlnvqvew.json"
                                                 trigger="hover"
                                                 style="width:50px;height:50px">
                                             </lord-icon>   
                                         </a>
                                         </button>
                                          </td>


                                </tr>

                                <% }) %>
                            </tbody>
    
                        </table>
                    </div>
                </div>

                         
            </div>
        </div>
    </div>
</body>
</html>