<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER DETAILS</title>
    <link rel="stylesheet" href="/admins/css/admin.css">
    <link rel="stylesheet" href="/admins/css/product.css">
<script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body>
    <div class="continer">
        <div class="layer1">
            
            <div class="searchBar">
            </div>
      class="btn1">LOGOUT</button>
         
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/dashboard'">
<lord-icon
    src="https://cdn.lordicon.com/dqrpfjei.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>DASHBOARD</li>
                    <li onclick="window.location.href='/users'"><lord-icon
    src="https://cdn.lordicon.com/xfzuyvam.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>USERS</li>
                    <li onclick="window.location.href='/products'"><lord-icon
    src="https://cdn.lordicon.com/amlwgnug.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>PRODUCTS</li>

                    <li onclick="window.location.href='/catergory'"><lord-icon
    src="https://cdn.lordicon.com/kpvuihyi.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>CATEGORY</li>


                    <li onclick="window.location.href='/coupon'"><lord-icon
    src="https://cdn.lordicon.com/nlmjynuq.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>COUPONS</li>



                    <li onclick="window.location.href='/orders'"><lord-icon
    src="https://cdn.lordicon.com/guothkao.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>ORDERS</li>
                    <li onclick="window.location.href='/bannar'"><lord-icon
    src="https://cdn.lordicon.com/fxtblcmc.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>BANNERS</li>
<div class="logout">
    <button class="btn1">LOGOUT</button>
</div>
                </ul>
            </div>
            <div class="content_part">
            
                <div class="user_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Users</p>
                </div>
                <div class="user_list">
                    <div class="user_table">
    
                        <table>
                           <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>User ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>ORDERS</th>
                                <th>Action</th>
                            </tr>
                         </thead>
                           <tbody>

                            <% users.forEach((user,index) => {%>
                                
                  
                            <tr>
                                <td><%= index + 1 %></td>
                                <td>  <%= user._id  %> </td>
                                <td><%= user.Username  %></td>
                                <td><%= user.email  %></td>
                                <td><%= user.phone  %></td>
                                <td>0</td>
                                <td>
                                    <button  style="background-color: rgb(238, 20, 20); width: 80px;"  > block </button>
                                </td>
                            </tr>
                            <%}); %>
                            
                           </tbody>
        
        
                       </table>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</body>
</html>